<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ book.title }}</h2>
    <p>{{ book.author }}</p>
    <p>{{ book.plot }}</p>

    <h2>리뷰</h2>

    {% for review in book.reviews.all %}
        {{ review.writer.username }} - {{ review.content }} ({{ review.created_at }})<br>
    {% empty %}
        리뷰가 없습니다.
    {% endfor %}

    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'books:create-review' book.id %}">
            {% csrf_token %}
            <textarea name="content" cols="18" rows="2"></textarea>
            <button type="submit">리뷰 작성</button> <br>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">리뷰를 작성하려면 로그인하세요.</a>
    {% endif %}
    
</body>
</html>