<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>이름과 생년월일을 입력하세요!</h1>
    <form action="{% url 'welcome' %}">
      <textarea name="name">이름을 입력하세요</textarea>

      <textarea name="year">년</textarea>
      <textarea name="month">월</textarea>
      <textarea name="day">일</textarea>
      <br />
      <input type="submit" value="제출" />
    </form>
  </body>
</html>
