<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>이름과 생년월일을 입력하세요!</h2>
    <form action ="{% url 'welcome' %}">
        <input type="text" name="name" placeholder="이름을 입력하세요" required>
        <br>
        <input type="text" name="year"placeholder="년" required>
        <a>년</a>
        <input type="text" name="month" placeholder="월" required>
        <a>월
        </a>
        <input type="text" name="day" placeholder="일" required>
        <a>일</a>
        <br/>
        <input type="submit" value="제출" >
    </form>
</body>
</html>