<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이름과 생년월일을 입력하세요!</h1>
    <form action="{% url 'welcome_app:welcome' %}">
        <input placeholder="이름을 입력하세요" type="text" name="name">
        <br/>

        <input placeholder="년" type="number" name="year">년
        <input placeholder="월" type="number" name="month">월
        <input placeholder="일" type="number" name="day">일

        <br/>
        <input type="submit">

    </form>
    
</body>
</html>